<div class="main" ng-style="myStyle">
    <div class="header"></div>
    <div class="article">
        {{ scopedAppVersion }}
        <ul>
            <li ng-repeat="item in listItems" ng-click="setName(item)">{{item.name}} - {{item.describe}}</li>
        </ul>
    </div>
</div>
<div class="main2" data-ng-show="hidden">
    <div class="header"><span ng-click="close()">X</span></div>
    <div class="article">
        <form>
            name: <input type="text" ng-model="item2.name"/><br/>
            describe: <input type="text" ng-model="item2.describe"/><br/>
            <input type="button" value="确定" ng-click="update()"/>
        </form>
    </div>
</div>